LAS-AgentLoop-Schemas/AiAgentPoc/AiAgentDemo/VolatileFileHandler/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Flat_File_Parser_Agent": {
                "type": "Agent",
                "inputs": {
                    "parameters": {
                        "deploymentId": "gpt-4.1",
                        "messages": [
                            {
                                "role": "system",
                                "content": "You are responsible for parsing csv flat files which relate to loan data from customers of the bank.\n\nYou receive files in various formats from intermediary loan brokers, all of which are csv's but with varying formats.\n\nThe raw file data is stored in the RawFileContent variable\n\nUse your best guess to parse the data if a column row is not present in the csv file.\n\nYou should parse all results into JSON."
                            },
                            {
                                "role": "user",
                                "content": "RawFileContent: @{variables('RawFileContent')}"
                            }
                        ],
                        "agentModelType": "AzureOpenAI",
                        "agentModelSettings": {
                            "agentHistoryReductionSettings": {
                                "agentHistoryReductionType": "maximumTokenCountReduction",
                                "maximumTokenCount": 128000
                            },
                            "deploymentModelProperties": {
                                "name": "gpt-4.1",
                                "format": "OpenAI",
                                "version": "2025-04-14"
                            }
                        }
                    },
                    "modelConfigurations": {
                        "model1": {
                            "referenceName": "agent-1"
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variables_-_RawFileContent": [
                        "SUCCEEDED"
                    ]
                },
                "limit": {
                    "count": 100
                }
            },
            "Initialize_variables_-_RawFileContent": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "RawFileContent",
                            "type": "string",
                            "value": "@{base64ToString(triggerBody()?['RawFileContent'])}"
                        }
                    ]
                },
                "runAfter": {}
            },
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "http://localhost:7071/api/VolatileDataWriter/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=JxAWvY65aGpXo84ZzZfe88zf-0pVNqNlb8TSFI9Xddc",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": "@outputs('Compose')"
                },
                "runAfter": {
                    "Compose": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200
                },
                "runAfter": {
                    "HTTP": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Compose": {
                "type": "Compose",
                "inputs": {
                    "JsonPayload": "@{base64(outputs('Flat_File_Parser_Agent')?['lastAssistantMessage'])}"
                },
                "runAfter": {
                    "Flat_File_Parser_Agent": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "RawFileContent": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Agentic"
}